<webobject name="NavClass">
   <a class="ml-4 my-lg-0 navbar-brand" href="#">Movie Editor</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
   </button>
   


   
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
         <webobject name = "ERXNavigationMenu"/>
         <li class="nav-item">
            <a class="nav-link" href="#">David LeBer</a>
         </li>
         <!-- 
<select id="comboA" onchange="getComboA(this)">
<option value="">Select a template</option>
<option value="cosmo">cosmo</option>
<option value="cyborg">cyborg</option>
<option value="darkly">darkly</option>
<option value="flatly">flatly</option>
<option value="journal">journal</option>
<option value="litera">litera</option>
<option value="lumen">lumen</option>
<option value="lux">lux</option>
<option value="materia">materia</option>
<option value="minty">minty</option>
<option value="pulse">pulse</option>
<option value="sandstone">sandstone</option>
<option value="simplex">simplex</option>
<option value="sketchy">sketchy</option>
<option value="slate">slate</option>
<option value="spacelab">spacelab</option>
<option value="superhero">superhero</option>
<option value="united">united</option>
<option value="yeti">yeti</option>
<option value="solar">solar</option>
</select>
		 -->
            </ul>
      <form class="form-inline my-2 my-lg-0">
         <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
         <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
   </div>
</webobject>