<!doctype html>
<html lang="en">
   <webobject name = "HeadTag">
      <webobject name = "ERMD2WStyleSheetInjector"/>
      <!-- jQuery 3.3.1 js -->
      <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
      
      <!-- wNumb number formatter -->
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.1.0/wNumb.min.js"></script>
      <!-- Popper js  -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <!-- Bootstrap js  -->
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      <!-- Shards js -->
      <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/shards-ui@2.1.0/dist/js/shards.min.js"></script>

      
      <!-- Bootstrap & Share Kit css -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/social-share-kit/1.0.15/css/social-share-kit.css">

       <!-- Shards css -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/shards-ui@2.1.0/dist/css/shards.min.css">


      <!-- Font Awesome css -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

      <!-- Roboto font -->
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">


	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <webobject name = "BootstrapCSS"></webobject>

      
   </webobject>
   <webobject name = "BodyTag">
 
<!-- 
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>

Try any of these themes from a CDN, change the name in the import link below

cerulean
cosmo      
cyborg
darkly
flatly
journal
litera
lumen
lux
materia
minty
pulse
sandstone
simplex
sketchy
slate
solar
spacelab
superhero
united
yeti

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/cosmo/bootstrap.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.13/css/mdb.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">


<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

 -->      

<!-- MDB core JavaScript -->


 
      <div>
         <div>
            <webobject name = "EntitiesMenu" />
            <small style="position:absolute;right:0; z-index:1000;" class="text-muted m-2">
               <wo:str value="$d2wContext.displayNameForEntity"/>
            </small>
         </div>
         <div>
            <webobject name = "MainContent" />
         </div>
      </div>
      <webobject name = "WOLToolBar"/>
      <webobject name = "IsDebug">
         <div id="ERD2WDebugFlags">
            <webobject name = "ERD2WDebugFlags" />
         </div>
      </webobject>
      
      
      <!-- 
      This is an essential fix for bootstrap conflicing with Ajax.framework's prototype.js hide() function
      Unfortuntabely, it seems this is required or the nav bar menus disappaer if you open and then click away
      This code very likely requires some additonal checks to ensure it is in fact a bootstrap and to pass
      on to the original function somehow
       -->



<script>
if(Prototype.BrowserFeatures.ElementExtensions) {
    var disablePrototypeJS = function(method, pluginsToDisable) {
            var handler = function(event) {
                event.target[method] = undefined;
                setTimeout(function() {
                    delete event.target[method];
                }, 0);
            };
            pluginsToDisable.each(function(plugin) {
                jQuery(window).on(method + '.bs.' + plugin, handler);
            });
        },
        pluginsToDisable = ['dropdown'];
    disablePrototypeJS('hide', pluginsToDisable);
}
</script>      
            
<script>
var items = document.querySelectorAll('.card.bouncing');
var isToggled = false;
var isMoving = true
var toggleDirection = 1;
var lastMove =  new Date();
var moveIndex = -1;
var delay = 50;



animate();

function animate() {
  moveItems();
  requestAnimationFrame( animate );
}

function moveItems() {
  if ( !isMoving ) {
    return;
  }
  var now = new Date();
  if ( now - lastMove < delay ) {
    return
  }
  lastMove = now;
  moveIndex += toggleDirection;
  var item = items[ moveIndex ];
  if ( item ) {
    item.classList.toggle('bounce');
  } else {
    isMoving = false;
  }
}


</script>
            
            
            
   </webobject>
</html>