<webobject name="PageWrapper">
  <div class="Section Wrapper CreateWrapper">
   <wo:form directActionName = "login">
      <div class="card">
            <div class="card-body">
               <div class="">
                  <wo:if condition = "$errorMessage">
                     <div class = '<wo:str value="$d2wContext.baseClassForErrorBlock" />' role="alert">
                     <wo:str escapeHTML=false value="$errorMessage" />
                     </div>
                  </wo:if>
                  <div class="Attributes">
               <span class="Line Label LabelWrapper"><label >Username</label></span>
               <div class="input-group input-group-lg mb-3 ">
                  <wo:textfield aria-label="Username" aria-describedby="basic-addon1" type = "username" id = "inputUsername" class = "form-control" autocapitalize = "none" autocomplete = "off" name = "user_login" value = "$username" tabindex = "10" />
                  <div class="input-group-append">
                     <div class="input-group-text">
                        <span class="fa fa-user-o"></span>
                     </div>
                  </div>
               </div>
               <span class="Line Label LabelWrapper"><label >Password</label></span>
               <div class="input-group input-group-lg mb-3 ">
                  <wo:textfield aria-label="Password" aria-describedby="basic-addon1" type = "password" id = "inputPassword" class = "form-control" autocapitalize = "none" autocomplete = "off" name = "user_password" value = "$password" tabindex = "10" />
                  <div class="input-group-append">
                     <div class="input-group-text">
                        <i class="fa fa-key"></i>
                     </div>
                  </div>
               </div>
            </div>
            <div class="input-group input-group-seamless pt-4">
               <button action = "submit" type = "submit" class = "btn btn-primary" style="margin-left:auto;" name = "button">
               <span class = "fa fa-sign-in_ _mr-2"></span>Log In
               </button>
            </div>
         </div>
      </div>
	</div>
	</wo:form>
  </div>
</webobject>